version: '3.9'

services:
  web:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: yii2-web
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html       # mount project folder
      - ./docker/apache/default.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: yii2-mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-secret}
      MYSQL_DATABASE: ${DB_NAME:-yii_zero}
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
